@model wydatki.Models.Category

@{
    ViewBag.Title = "Add Category";
    Layout = "_Layout";
}

<h2>Add Category</h2>

<form asp-action="AddCategory" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit">Add Category</button>
</form>